@import "../../scssUtils/colorVariable";

footer {
  padding: 24px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: $footer-font-color;
  a {
    color: inherit;
  }
}
